.chip {
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 15px;
 line-height: 10px;
  border-radius: 25px;
  background-color: #f1f1f1;
}



.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
.lh-0{
  line-height: 2;
}

.close-icon{
  width: 1.5em;
  height: 1.5em;
}
.badge{
  font-size: 0.90em;
}
.close-icon:hover{
  cursor: pointer;
  color: aqua;
}